body, html {
	height: auto;
}

.view-container {
	height: 600px;
	width: 40%;
	border: solid 1px;
	display: inline-block;
	float: left;
	overflow: hidden;
	margin-bottom: 50px;
}

#map-container {
	.view-container;
	border-color: red;
}

#tree-container {
	.view-container;
	border-color: blue;
	margin-left: 20px;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 15px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#navigation {
	.text;
	list-style: none;
	padding: 0;
	position: relative;
	top: 0px;
	
	.pageButton {
		display: inline;
		cursor: pointer;
	}

	li {
		padding-right: 10px;
	}
}

.hidden {
	display: none;
}

.text {
	font-family: "Arial";
}

h1 {
	.text;

	color: blue;
	font-size: 30pt;
}

.page {
	.text;

	h2 {
		font-size: 20pt;
		color: blue;
	}

	p {
		font-size: 14pt;
	}

	width: 60%;
}

#demo-container {
	width: 100%;
}

