.container {
	height: 600px;
	width: 600px;
	border: solid 1px;
	display: inline-block;
	float: left;
}

.map {
	.container;
	border-color: red;
}

.tree {
	.container;
	border-color: blue;
	margin-left: 50px;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 15px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#navigation {
	list-style: none;
	
	.pageButton {
		display: inline;
		cursor: pointer;
	}
}

.hidden {
	display: none;
}
