body, html {
	height: auto;
}

.content-container {
	height: auto;
	display: block;
	position: relative;
}

.container {
	height: auto;
	width: 600px;
	border: solid 1px;
	display: inline-block;
	float: left;
}

.map {
	.container;
	border-color: red;
}

.tree {
	.container;
	border-color: blue;
	margin-left: 50px;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 15px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#navigation {
	.text;
	list-style: none;
	padding: 0;
	position: fixed;
	bottom: 0px;
	margin-top: 10px;
	
	.pageButton {
		display: inline;
		cursor: pointer;
	}

	li {
		padding-right: 10px;
	}
}

.hidden {
	display: none;
}

.text {
	font-family: "Arial";
}

h1 {
	.text;

	color: blue;
	font-size: 30pt;
}

.page {
	.text;

	h2 {
		font-size: 20pt;
		color: blue;
	}

	p {
		font-size: 14pt;
	}

	width: 60%;
}

